* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-background-color: #fff;
  --primary-text-color: #000;
  --secondary-background-color: #ddd;
  --start-gradient: #496d4a;
  --end-gradient: #003622;
  --accent-color:  #93f5be;
  --accent-button-text-color: #000;
}

body, html, ul {
  margin: 0;
  padding: 0;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
          animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

body {
  background-color: #fff;
  color: #000;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

p, span, a {
  font-size: 1.2rem;
}

.center-text {
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  max-width: 64em;
  padding: 1em;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 999;
}

header a {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.white-text {
  color: #fff;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.header-logo img {
  height: 2em;
  width: 2.4em;
}

.header-logo h1 {
  display: inline-block;
  font-family: 'Gotham', sans-serif;
  text-transform: capitalize;
  margin: 0;
}

.navigation-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.navigation-toggle:focus ~ .menu-icon {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation ul .navigation-link {
  margin: 0 0.6em;
  color: #fff;
  text-align: center;
}

.main-navigation ul .wallet-link {
  display: none;
}

.wallet-link {
  margin-left: auto;
}

footer {
  background-color: #ddd;
  color: #000;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#496d4a), to(#003622));
  background-image: linear-gradient(#496d4a, #003622);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--start-gradient)), to(var(--end-gradient)));
  background-image: linear-gradient(var(--start-gradient), var(--end-gradient));
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  font-size: 3rem;
  margin-top: 0;
}

.hero .section-top {
  height: 5em;
}

.hero .wave-background {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  bottom: -5%;
  z-index: 1;
}

.hero .surtitle {
  color: #93f5be;
  color: var(--accent-color);
  font-weight: 700;
}

.hero .surtitle::before {
  content: '\B7';
  margin: 0 0.2em;
}

.hero .surtitle:first-child::before {
  content: '';
  margin: 0;
}

.hero table {
  color: #000;
  background-color: #fff;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
  -webkit-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.4);
          box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.4);
  padding: 1em;
  margin: 3em 0;
  border-radius: 1em;
}

.hero table th {
  position: relative;
}

.hero table td {
  padding: 0.5em;
}

.hero table tr:nth-child(even) {
  background-color: #ddd;
  background-color: var(--secondary-background-color);
}

.hero table .coin-logo-vector {
  position: absolute;
  height: 3em;
  top: -3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.what-is-vertcoin-section {
  position: relative;
  margin-bottom: 1em;
}

.what-is-vertcoin-section .wave-bottom {
  padding: 1em 1em 3em 1em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#496d4a), to(#003622));
  background-image: linear-gradient(0deg, #496d4a, #003622);
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-gradient)), to(var(--end-gradient)));
  background-image: linear-gradient(0deg, var(--start-gradient), var(--end-gradient));
}

.what-is-vertcoin-section .decorative-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 20%;
  max-height: 4.2em;
}

.wave-bottom {
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 1% 90.63%, 2% 91.25%, 3% 91.87%, 4% 92.49%, 5% 93.09%, 6% 93.68%, 7% 94.26%, 8% 94.82%, 9% 95.36%, 10% 95.88%, 11% 96.37%, 12% 96.85%, 13% 97.29%, 14% 97.71%, 15% 98.09%, 16% 98.44%, 17% 98.76%, 18% 99.05%, 19% 99.3%, 20% 99.51%, 21% 99.69%, 22% 99.82%, 23% 99.92%, 24% 99.98%, 25% 100%, 26% 99.98%, 27% 99.92%, 28% 99.82%, 29% 99.69%, 30% 99.51%, 31% 99.3%, 32% 99.05%, 33% 98.76%, 34% 98.44%, 35% 98.09%, 36% 97.71%, 37% 97.29%, 38% 96.85%, 39% 96.37%, 40% 95.88%, 41% 95.36%, 42% 94.82%, 43% 94.26%, 44% 93.68%, 45% 93.09%, 46% 92.49%, 47% 91.87%, 48% 91.25%, 49% 90.63%, 50% 90%, 51% 89.37%, 52% 88.75%, 53% 88.13%, 54% 87.51%, 55% 86.91%, 56% 86.32%, 57% 85.74%, 58% 85.18%, 59% 84.64%, 60% 84.12%, 61% 83.63%, 62% 83.15%, 63% 82.71%, 64% 82.29%, 65% 81.91%, 66% 81.56%, 67% 81.24%, 68% 80.95%, 69% 80.7%, 70% 80.49%, 71% 80.31%, 72% 80.18%, 73% 80.08%, 74% 80.02%, 75% 80%, 76% 80.02%, 77% 80.08%, 78% 80.18%, 79% 80.31%, 80% 80.49%, 81% 80.7%, 82% 80.95%, 83% 81.24%, 84% 81.56%, 85% 81.91%, 86% 82.29%, 87% 82.71%, 88% 83.15%, 89% 83.63%, 90% 84.12%, 91% 84.64%, 92% 85.18%, 93% 85.74%, 94% 86.32%, 95% 86.91%, 96% 87.51%, 97% 88.13%, 98% 88.75%, 99% 89.37%, 100% 90%);
          clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 1% 90.63%, 2% 91.25%, 3% 91.87%, 4% 92.49%, 5% 93.09%, 6% 93.68%, 7% 94.26%, 8% 94.82%, 9% 95.36%, 10% 95.88%, 11% 96.37%, 12% 96.85%, 13% 97.29%, 14% 97.71%, 15% 98.09%, 16% 98.44%, 17% 98.76%, 18% 99.05%, 19% 99.3%, 20% 99.51%, 21% 99.69%, 22% 99.82%, 23% 99.92%, 24% 99.98%, 25% 100%, 26% 99.98%, 27% 99.92%, 28% 99.82%, 29% 99.69%, 30% 99.51%, 31% 99.3%, 32% 99.05%, 33% 98.76%, 34% 98.44%, 35% 98.09%, 36% 97.71%, 37% 97.29%, 38% 96.85%, 39% 96.37%, 40% 95.88%, 41% 95.36%, 42% 94.82%, 43% 94.26%, 44% 93.68%, 45% 93.09%, 46% 92.49%, 47% 91.87%, 48% 91.25%, 49% 90.63%, 50% 90%, 51% 89.37%, 52% 88.75%, 53% 88.13%, 54% 87.51%, 55% 86.91%, 56% 86.32%, 57% 85.74%, 58% 85.18%, 59% 84.64%, 60% 84.12%, 61% 83.63%, 62% 83.15%, 63% 82.71%, 64% 82.29%, 65% 81.91%, 66% 81.56%, 67% 81.24%, 68% 80.95%, 69% 80.7%, 70% 80.49%, 71% 80.31%, 72% 80.18%, 73% 80.08%, 74% 80.02%, 75% 80%, 76% 80.02%, 77% 80.08%, 78% 80.18%, 79% 80.31%, 80% 80.49%, 81% 80.7%, 82% 80.95%, 83% 81.24%, 84% 81.56%, 85% 81.91%, 86% 82.29%, 87% 82.71%, 88% 83.15%, 89% 83.63%, 90% 84.12%, 91% 84.64%, 92% 85.18%, 93% 85.74%, 94% 86.32%, 95% 86.91%, 96% 87.51%, 97% 88.13%, 98% 88.75%, 99% 89.37%, 100% 90%);
}

.max-width-64em {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

.complex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertcoin-video-container {
  background-color: #000;
}

.vertcoin-video-container iframe {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  width: 640px;
  max-width: 100%;
  height: 360px;
}

.section-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 64em;
  min-height: 1px;
  margin: 0 auto;
}

.section-left, .section-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 1em;
  z-index: 2;
}

.section-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-image-container img {
  display: block;
  width: 100%;
  border-radius: 1em;
}

.highlight-above::before {
  content: '';
  display: block;
  margin-bottom: 1em;
  width: 4em;
  height: 0.2em;
  background-color: #93f5be;
  background-color: var(--accent-color);
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.4);
          box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 0.4);
  padding: 1em;
  border-radius: 1em;
  font-weight: 700;
  background-color: #ddd;
  color: #000;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.large-icon-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 1em;
}

.large-icon {
  margin: 0.5rem;
  background-image: -webkit-linear-gradient(45deg, var(--start-gradient), var(--end-gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #003622;
  color: var(--start-gradient);
}

.icon-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  margin-bottom: 1em;
}

.brand-icon {
  margin-right: 0.5em;
}

.default-button {
  display: inline-block;
  background-color: #93f5be;
  color: #000;
  background-color: var(--accent-color);
  color: var(--accent-button-text-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  margin: 0.2em 0;
  margin-left: 0.2em;
}

.default-button:first-child {
  margin-left: 0;
}

.tweet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tweet-container .tweet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
}

.tweet-container .tweet:first-child {
  margin-left: 0;
}

.tweet-container .tweet iframe {
  max-width: 100%;
}

_:-ms-fullscreen, :root .tweet {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

@media screen and (max-width: 64em) {
  .main-navigation {
    display: none;
  }
  .menu-icon::before {
    font-size: 2.5rem;
    content: '\2261';
    background: #478462;
    color: #fff;
    border-radius: 5px;
    padding: 0 0.5em;
  }
  .navigation-toggle:checked ~ .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-left: auto;
    top: 100%;
    right: 1em;
    padding: 1em;
    background: #478462;
    border-radius: 5px;
  }
  .navigation-toggle:checked ~ .main-navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  .navigation-toggle:checked ~ .main-navigation a {
    display: block;
    padding: 0.8em 0;
  }
  .navigation-toggle:checked ~ .main-navigation .navigation-link {
    margin: 0.2em;
    width: 100%;
    text-align: right;
  }
  .navigation-toggle:checked ~ .main-navigation .wallet-link {
    width: 100%;
    margin: 0;
    display: block;
  }
  .wallet-link {
    display: none;
  }
  .section-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-left, .section-right {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    max-width: 100%;
  }
  .section-image-container img {
    max-width: 40em;
  }
  .card-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .large-icon-card {
    margin: 1em;
  }
  .icon-card {
    margin: 0.5em;
  }
  .tweet-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tweet-container .tweet {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-color: #1f2221;
    --primary-text-color: #eee;
    --secondary-background-color: #313535;
    --start-gradient: #003622;
    --end-gradient: #496d4a;
  }
}
/*# sourceMappingURL=style.css.map */